{
  "openapi": "3.0.1",
  "info": {
    "title": "Concert Reservation System - Unified API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://my-app-alb-1234567890.us-west-2.elb.amazonaws.com"
    }
  ],
  "paths": {
    "/api/users/signup": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "operationId": "signUp",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SignUpRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/login": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/users/me": {
      "get": {
        "tags": [
          "user-controller"
        ],
        "operationId": "getMyInfo",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/UserResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "user-controller"
        ],
        "operationId": "withdraw",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          }
        }
      }
    },
    "/api/concerts": {
      "get": {
        "tags": [
          "concert-controller"
        ],
        "operationId": "getConcertList",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PageResponseConcertSummaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/concerts/{concertId}": {
      "get": {
        "tags": [
          "concert-controller"
        ],
        "operationId": "getConcertDetail",
        "parameters": [
          {
            "name": "concertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ConcertDetailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/{paymentId}/cancel": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "operationId": "cancelPayment",
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/pay": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "operationId": "processPayment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessPaymentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/payments/methods/me": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "operationId": "getMyPaymentMethods",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PaymentMethodResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/queue/{concertId}/enter": {
      "post": {
        "tags": [
          "queue-controller"
        ],
        "operationId": "enterQueue",
        "parameters": [
          {
            "name": "concertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QueueEntryResult"
                }
              }
            }
          }
        }
      }
    },
    "/api/queue/{concertId}/position": {
      "get": {
        "tags": [
          "queue-controller"
        ],
        "operationId": "getPosition",
        "parameters": [
          {
            "name": "concertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/QueuePositionInfo"
                }
              }
            }
          }
        }
      }
    },
    "/api/queue/{concertId}/events": {
      "get": {
        "tags": [
          "queue-controller"
        ],
        "operationId": "subscribeEvents",
        "parameters": [
          {
            "name": "concertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ServerSentEventString"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/queue/{concertId}/leave": {
      "delete": {
        "tags": [
          "queue-controller"
        ],
        "operationId": "leaveQueue",
        "parameters": [
          {
            "name": "concertId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          }
        }
      }
    },
    "/api/reservations": {
      "post": {
        "tags": [
          "reservation-controller"
        ],
        "operationId": "createReservation",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReservationRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ReservationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/reservations/{reservationId}/cancel": {
      "patch": {
        "tags": [
          "reservation-controller"
        ],
        "operationId": "cancelReservation",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "reservationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Unit"
                }
              }
            }
          }
        }
      }
    },
    "/api/reservations/me": {
      "get": {
        "tags": [
          "reservation-controller"
        ],
        "operationId": "getMyReservations",
        "parameters": [
          {
            "name": "X-User-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReservationListResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "SignUpRequest": {
        "required": [
          "email",
          "name",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "maxLength": 255,
            "minLength": 0,
            "type": "string"
          },
          "password": {
            "maxLength": 2147483647,
            "minLength": 8,
            "type": "string"
          },
          "name": {
            "maxLength": 100,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "UserResponse": {
        "required": [
          "createdAt",
          "email",
          "id",
          "name"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "email": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "LoginRequest": {
        "required": [
          "email",
          "password"
        ],
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "TokenResponse": {
        "required": [
          "accessToken",
          "expiresIn"
        ],
        "type": "object",
        "properties": {
          "accessToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "Unit": {
        "type": "object"
      },
      "ConcertSummaryResponse": {
        "required": [
          "availableSeats",
          "concertDate",
          "concertTime",
          "id",
          "isReservable",
          "price",
          "title",
          "venue"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "venue": {
            "type": "string"
          },
          "concertDate": {
            "type": "string",
            "format": "date"
          },
          "concertTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "price": {
            "type": "number"
          },
          "availableSeats": {
            "type": "integer",
            "format": "int32"
          },
          "isReservable": {
            "type": "boolean"
          }
        }
      },
      "LocalTime": {
        "type": "object",
        "properties": {
          "hour": {
            "type": "integer",
            "format": "int32"
          },
          "minute": {
            "type": "integer",
            "format": "int32"
          },
          "second": {
            "type": "integer",
            "format": "int32"
          },
          "nano": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "PageResponseConcertSummaryResponse": {
        "required": [
          "content",
          "page",
          "size",
          "totalElements",
          "totalPages"
        ],
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ConcertSummaryResponse"
            }
          },
          "page": {
            "type": "integer",
            "format": "int32"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "ConcertDetailResponse": {
        "required": [
          "availableSeats",
          "concertDate",
          "concertTime",
          "id",
          "isReservable",
          "price",
          "title",
          "totalSeats",
          "venue"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "title": {
            "type": "string"
          },
          "venue": {
            "type": "string"
          },
          "concertDate": {
            "type": "string",
            "format": "date"
          },
          "concertTime": {
            "$ref": "#/components/schemas/LocalTime"
          },
          "price": {
            "type": "number"
          },
          "totalSeats": {
            "type": "integer",
            "format": "int32"
          },
          "availableSeats": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string"
          },
          "isReservable": {
            "type": "boolean"
          }
        }
      },
      "ProcessPaymentRequest": {
        "required": [
          "amount",
          "paymentMethodId",
          "reservationId"
        ],
        "type": "object",
        "properties": {
          "reservationId": {
            "type": "integer",
            "format": "int64"
          },
          "paymentMethodId": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "PaymentResponse": {
        "required": [
          "amount",
          "createdAt",
          "id",
          "reservationId",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "reservationId": {
            "type": "integer",
            "format": "int64"
          },
          "amount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PaymentMethodResponse": {
        "required": [
          "cardNumber",
          "cardType",
          "expiryDate",
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "cardNumber": {
            "type": "string"
          },
          "expiryDate": {
            "type": "string"
          },
          "cardType": {
            "type": "string"
          }
        }
      },
      "QueueEntryResult": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "ENTERED",
              "WAITING"
            ]
          },
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "token": {
            "type": "string"
          }
        }
      },
      "QueuePositionInfo": {
        "required": [
          "estimatedWaitSeconds",
          "position"
        ],
        "type": "object",
        "properties": {
          "position": {
            "type": "integer",
            "format": "int64"
          },
          "estimatedWaitSeconds": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ServerSentEventString": {
        "type": "object"
      },
      "CreateReservationRequest": {
        "required": [
          "concertId",
          "paymentMethodId",
          "quantity"
        ],
        "type": "object",
        "properties": {
          "concertId": {
            "type": "integer",
            "format": "int64"
          },
          "quantity": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "paymentMethodId": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "ReservationResponse": {
        "required": [
          "concertId",
          "concertTitle",
          "createdAt",
          "id",
          "quantity",
          "status",
          "totalAmount"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "concertId": {
            "type": "integer",
            "format": "int64"
          },
          "concertTitle": {
            "type": "string"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "totalAmount": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ReservationListResponse": {
        "required": [
          "concertId",
          "createdAt",
          "id",
          "quantity",
          "status"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "concertId": {
            "type": "integer",
            "format": "int64"
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "cancelledAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    }
  }
}
